{% extends 'Layout.html' %}
{% load static %}
{% block title %}
    <title>鲁棒性智能车牌识别系统</title>
{% endblock %}

{% block content %}

    <div class="container-fluid">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <hr>
        <div class="jumbotron">
            <p class="lead text-justify text-muted ">车牌识别是智能交通系统中的关键步骤。车牌识别系统(Vehicle License
                Plate
                Recognition，VLPR)
                是计算机视频图像识别技术在车辆牌照识别中的一种应用。
                车牌识别在高速公路车辆管理中得到广泛应用，电子收费（ETC）系统中，也是结合专用短程通信技术（DSRC）技术识别车辆身份的主要手段。
                单双号限行制度是为了缓解城市交通压力而催生的一种交通制度。
                在单双号车牌的智能识别中，识别精度是一个很重要的方面,而识别系统的鲁棒性也是衡量系统价值的重要属性。

            </p>
        </div>

    </div>
{#        <div class="wrapper container ">#}
{#            <header>上传文件</header>#}
{#            <form action="#">#}
{#                <input class="file-input" type="file" name="file" hidden>#}
{#                <i class="fas fa-cloud-upload-alt"></i>#}
{#                <p>拖拽文件至此处</p>#}
{#            </form>#}
{#            <section class="progress-area"></section>#}
{#            <section class="uploaded-area"></section>#}
{#        </div>#}
    </div>

    <div id="app"></div>

    
{% endblock %}

{% block js %}
<script type="text/babel">
// 引入 useDropzone 钩子
const {useDropzone} = window.ReactDropzone;

function Basic() {
  const {getRootProps, getInputProps, isDragActive, acceptedFiles} = useDropzone();

  const files = acceptedFiles.map(file => (
    <li key={file.path}>
      {file.path} - {file.size} bytes
    </li>
  ));

  return (
    <section>
      <div {...getRootProps({className: 'dropzone'})}>
        <input {...getInputProps()} />
        {
          isDragActive ?
            <p>Drop the files here ...</p> :
            <p>Try dropping some files here, or click to select files to upload.</p>
        }
      </div>
      <aside>
        <h2>Dropped files</h2>
        <ul>{files}</ul>
      </aside>
    </section>
  );
}

ReactDOM.render(<Basic />, document.getElementById('app'));
</script>

{% endblock %}